/* Variables */
:root {
    --primary: #65838F;
    --secondary: #EAF3F4;
    --accent: #E8FE57;
    --white: #ffffff;
    --black: #000000;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Crimson Pro", serif; */
/* font-family: "Inter", sans-serif; */

/* Global Classes */
.container {
    max-width: 1400px;
}